/* Reset some default styles */
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=DynaPuff:wght@400..700&family=Itim&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{

    --ffbody:Roboto, sans-serif;
    --ffhead:Poppins, sans-serif;
    --ffalt: Kanit, sans-serif;



    /* Font families  */

/*colors*/
/* main colors */
    --clrmain100:#e6eeff;
    --clrmain200:#a6c7ed;
    --clrmain300:#749be8;
    --clrmain400:#2b70ed;
    --clrmain500:#1c51e5;
    --clrmain600:#002789;
    --clrmain700:#052166;
    --clrmain800:#00184c;
    --clrmain900:#000719;
/* purpole colors  */
    --clrpurple100:#f2e8fc;
    --clrpurple200:#d9bdf4;    
    --clrpurple300:#c395ef;
    --clrpurple400:#b578ef;
    --clrpurple500:#9245dd;
    --clrpurple600:#7027b7;
    --clrpurple700:#460b84;
    --clrpurple800:#32055e;
    --clrpurple900:#16012b;
/* pink colors */
--clrpink100:#ffe9f1;
--clrpink200:#f9c7dc;
--clrpink300:#f9a5c7;
--clrpink400:#f973aa;
--clrpink500:#e5457f;
--clrpink600:#c43972;
--clrpink700:#960842;
--clrpink800:#63052d;
--clrpink900:#63052d;
/* orange colors */
--clrorange100:#f9ece1;
--clrorange200:#efc7a3;
--clrorange300:#efaf7f;
--clrorange400:#ef9e56;
--clrorange500:#f27b34;
--clrorange600:#a3520a;
--clrorange700:#823704;
--clrorange800:#4f2703;
--clrorange900:#231100;
/* green colors */
--clrgreen100:#d5f7e3;
--clrgreen200:#a7eabb;
--clrgreen300:#82d89c;
--clrgreen400:#32bf79;
--clrgreen500:#3aa06a;
--clrgreen600:#187a42;
--clrgreen700:#074f2b;
--clrgreen800:#053a1c;
--clrgreen900:#001c0d;
/* red colors */
--clrred100:#f9e4e4;
--clrred200:#f4b5b5;
--clrred300:#ea9696;
--clrred400:#ea6363;
--clrred500:#dd4343;
--clrred600:#a82626;
--clrred700:#8c1b1b;
--clrred800:#680b0b;
--clrred900:#210101;
/* yellow colors */
--clryellow100:#fff5ca;
--clryellow200:#f9e9aa;
--clryellow300:#fce790;
--clryellow400:#f9de69;
--clryellow500:#eac93d;
--clryellow600:#c6a724;
--clryellow700:#967c0f;
--clryellow800:#685505;
--clryellow900:#211b01;


--clrdark:#232628;
--clrgrey:#8e9091;
--clrlight:#e6e7e8;
--clrblack:#010305;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
    line-height: 150%;
}


body {
    min-height: 100%;
    background-color: #E5E4E0;

}


/* Sticky Banner */
nav {
    background-color: #ffffff;  /* White background for the header */
gap: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 10;
}


nav ul{
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: flex-end;
    align-items: center;

}

nav li{
    height: 60px;
    /* text-decoration: none;
    list-style: none;
    height: 50px;
    color: #333;
    padding: 12px 12px;
    font-weight: 500;  */

}
nav a{
    font-family: var(--ffbody);
        height: 100%;
        padding: 1rem 1rem;
        margin-left: 1.2rem;
        text-decoration: none;
        font-size: 1em;
        display: flex;
        align-items: center;
        color: var(--clrblack);
        cursor: pointer;

}
.logo a{
font-family: var(--ffhead);
    font-size: 2rem;
    font-weight: 900;
}
.logo:hover{
    scale: 1.1;

}

nav a:hover{
    font-weight: bold;
    border-bottom: 8px solid var(--clrmain500);
}
nav li:first-child{
    margin-right: auto;
}


.navbar{
position: fixed;
top: 0;
width: 100%;


}

.sidebar{
position: fixed;
top: 0;
right: 0;
height: 100vh;
width: 240px;
z-index: 999;
background-color: white;
box-shadow: -5px -2px 4px rgba(0, 0, 0, 0.2);
display: none;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
cursor: pointer;


}
.menu-button{
    display: none;
}
nav ul li a.sign-up {
    background-color: var(--clrmain500);
    color: white;
    height: 100%;
    width: auto;
    justify-content: center;
    align-items: center;
    font-weight: 500;

    
}
nav ul li a.sign-up:hover{

    background-color:var(--clrmain800);
}
.sign-in{

    color: var(--clrmain500);
    font-weight: 700;
}



main {
    height:100%;
    max-width:90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "hero hero"
    "services services"
    "aboutus aboutus"
    "footer footer";
   justify-content: center;
   align-content: center;
   margin: auto;
    background-color: #ffffff;
}

.hero{
grid-area: hero;
padding: 1rem;
background-color: white;
display: grid;
margin: auto;
grid-template-columns: 1fr 1fr;
grid-template-areas: 
"herotext heroimg";
gap: 1rem;
justify-content: center;
align-items: center;
margin-top: 50px;



}

.herotext{
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: auto;
    grid-area: herotext;
    margin: auto;
    width: 300px;
    padding:1em;


}
.hero h1 {
    font-family: var(--ffhead);
    font-size: 3em;
    color: var(--clrdark);
    font-weight: 900;
   
}

.hero p {
    font-family: var(--ffbody);
    font-size: 1.4em;
    line-height: 1.5;
    color:var(--clrdark);
    margin-bottom: 1rem;
    font-weight: 500;

}
button {
    grid-area: bttn;
    height: fit-content;
    width: fit-content;
    color: white;
    justify-content: center;
    background-color: var(--clrmain500);
    font-family: var(--ffhead);
    font-size: 1.2rem ;
    font-weight: bold;
    padding: 1rem;
    overflow:hidden;
    outline: none;
    border-radius: 10px;
    z-index: 5;
    transition: 0.6s ease;
    border: none;
    
    }


   button:hover{
        background: var(--clrmain900);
        cursor: pointer;


    }

    .image-container{
        justify-content: center;
        align-items: center;
            grid-area: heroimg;

            display: block;
            padding: 1em;
            margin: auto;

    }
    .heroimg{
            display: block;
            width: 550px;
            height: 550px;
            padding: 1rem;
            margin: auto;

    }

/* .chatmessage1{
    display: inline-block;
    position: relative;
    background-color: white;
    padding: 0.6em;
    border-radius: 20px 20px 20px 0px;
    justify-content: center;
    align-content: center;
    margin: auto;
    padding-right: 1em;
    outline: none;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    top: 15%;
    left: 10%;
    z-index: 6;

}
.message2{
    border-radius: 00px 20px 20px 20px;
    top: 50%;
    left: 30%;
}
.greenlight{
height: 10px;
width: 10px;
border-radius: 50%;
display: inline-flex;
align-content: center;
background-color: var(--clrgreen400);
margin-right:.5em;

animation: onoff 1s ease-in-out infinite;

               
}
@keyframes onoff {
    0%{
scale: 100%;
opacity: 0;

    }
    50%{
scale: 105%;
        opacity: 1;
        
            }
            100%{
scale: 100%;
                opacity: 0;
                
                    }

}
.chatmessage1 p{
    font-size: 0.7em;
    font-weight: 600;
    display: inline-flex;
    overflow:clip;  Ensures the content is not revealed until the animation 
    border-right: .15em solid rgb(43, 43, 43); 
    white-space: nowrap; 
    margin: 0 auto; 

    animation: 
      typing 3s steps(30, end),
      blink-caret .75s step-end infinite;
  }
  

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(43, 43, 43); }
  } 
  */
 
    .services{
grid-area: services;
        background-color: var(--clrmain100);
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        grid-auto-rows: minmax(200, 1fr);
        grid-gap: 1em;
        justify-content: center;

        }

    .icon{
height: 3em;
aspect-ratio: auto;


    }

.card{

    justify-content: start;
    align-items: center;
	background-clip: padding-box;
    display: flex;
    flex-direction:column;
    padding: 1em;
    transform: 0.5 ease;

}
.card h1{
    font-family: var(--ffhead);
}
.card p{
    font-family: var(--ffbody);
}
.card:hover{
    scale: 1.05;
    background-color: var(--clrpurple200);
}

.card p{

    font-size: 1em;
}


.aboutus{
    grid-area: aboutus;
font-family: var(--ffbody);
    display: flex;
    flex-direction: column;

    padding: 2rem;
    margin: auto;
    justify-content: center;
    align-content: center;

}
    footer{

        height: 30px;
        margin: auto;
        padding: 0.5rem;
        grid-area: footer;
        
        text-align: center;
        justify-items: center;
        align-items: center;
        font-size: 0.6em;
    }


@media (max-width: 700px) {
    
    .hideOnMobile{

        display: none;
    }
    .menu-button{
        display: block;
    }
    main{
        max-width:100%;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "hero"
        "services"
        "aboutus"
        "footer";
	    margin: auto;

    }


    .hero{
    display: flex;
    flex-direction: column;
	    margin: auto;
padding: 1em;
margin-top: 50px;

    }
    .herotext{
        margin: auto;
    }
    .hero h1{
        font-size: 2em;
        margin: auto;
        text-align: left;
    }

.hero p{

    font-size: 1em;
}


    .image-container{

        width: 100%;
        aspect-ratio:1;
        padding: 1em 0em;
        margin: auto;

}



}

@media (max-width: 400px) {

.sidebar{

    width: 100vw;
    height: fit-content;
    padding-bottom: 1rem;
}
main{
    max-width:100%;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "hero"
    "services"
    "aboutus"
    "footer";
    margin: auto;

}
.hero{

margin-top: 50px;

}

.herotext p{
margin: auto;
    padding: 1rem ;
}
}